.amazon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.amazon-header {
    margin-bottom: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.amazon-container form {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.amazon-border {
    border: 2px solid rgb(255, 208, 0);
}

.amazon-button {
    background-color: rgb(255, 208, 0);
}

.amazon-button:hover {
    background-color: rgb(187, 153, 3);
}