.youtube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.youtube-header {
    margin-bottom: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.no-margin {
    margin: 0px;
}

.youtube-container form {
    margin-bottom: 40px;
}

.youtube-border {
    border: 2px solid red;
}

.youtube-button {
    background-color: red;
}

.youtube-button:hover {
    background-color: rgb(143, 0, 0);
}